<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="frontproyecto-app">
  <template>
    <style>
      :host {
        display: block;
      }

      .redbg {
        background-color: red;
      }

     .greenbg {
        background-color: green;
      }

     .bluebg {
        background-color: blue;
      }

      .greybg {
        background-color: grey;
      }

    </style>
    <h2>Hello [[name]] [[first_name]] [[last_name]]</h2>
    <h2>You are [[age]] years old</h2>
    <input type="text" value="{{first_name::input}}" />


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous">

    <div class="row greybg">
        <div class="col redbg">Col red</div>
        <div class="col greenbg">Col green</div>
        <div class="col bluebg">Col blue</div>     
        <div class="col-4 offset-3 greybg">Col grey</div>      
    </div>

    <button class="btn">Login</button>
    <button class="btn">Logout</button>

    <button class="btn btn-primary btn-lg">Login</button>
    <button class="btn btn-secondary">Logout</button>
    <button class="btn btn-success">Login</button>
    <button class="btn btn-info">Logout</button>
    <button class="btn btn-danger">Login</button>
    <button class="btn btn-warning">Logout</button>
    <button class="btn btn-light">Login</button>
    <button class="btn btn-dark">Logout</button>
    
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class FrontproyectoApp extends Polymer.Element {
      static get is() {
        return 'frontproyecto-app';
      }
      static get properties() {
        return {
          name: {
            type: String,
            value: 'frontproyecto-app'
          },
          first_name: {
            type: String,
            value: ''
          },
          last_name: {
            type: String,
            value: ''
          },
          age: {
            type: Number,
            value: 0
          }
        };
      }
    }

    window.customElements.define(FrontproyectoApp.is, FrontproyectoApp);
  </script>
</dom-module>