<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="login-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
	</style>
<!--     <h2>Hello [[name]] [[first_name]] [[last_name]]</h2>
    <h3>Email: [[email]]</h3>
 -->
    <input placeholder="email" type="email" value="{{email::input}}" />
    <input placeholder="username" type="username" value="{{username::input}}" />
    <input placeholder="password" type="password" value="{{password::input}}" />
    <button on-click="login">Login</button>
    <span hidden$="{{!isLogged}}">Bienvenido de nuevo!</span>

    <!-- 	<input type="text" value="{{first_name::input}}" />      
	Age: <input type="range" value="{{age::input}}" min="0" max="100" />  years  

  	<iron-ajax auto
		id="getUser"
		url="http://localhost:5000/v1/user/info/{{username}}"
		handle-as="json"
    on-response="showData" />

-->    

	<iron-ajax 
		id="doLogin"
		url="http://localhost:3000/v2/user/login"
    handle-as="json"
    content-type="application/json"
    method="POST"
    on-response="manageAJAXResponse" 
    on-error="showError" />

  </template> 

    <script>
      /**
       * @customElement
       * @polymer
       */
      class LoginUsuario extends Polymer.Element {
        static get is() {
          return 'login-usuario';
        }
        static get properties() {
          return {
            username: {
              type: String,
              value: 'login-usuario'
            },
            password: {
              type: String,
              value: 'password'
            },
            email: {
              type: String,
              value: 'email'
            },
            isLogged: {
              type: Boolean,
              value: false
            }
          };
        }

        showData(data) {
/*           console.log("showData")
          console.log(data.detail.response) */

      
/*           this.first_name = data.detail.__data.response.first_name
          this.last_name = data.detail.__data.response.last_name
          this.age = data.detail.__data.response.age
 */        }

        login() {
          let loginData = {
            "username": this.username,
            "password": this.password
          }

          this.$.doLogin.body = JSON.stringify(loginData)
          this.$.doLogin.generateRequest()

          console.log("Petición enviada")
        }

        showError(error){
          console.log(`Error ${error}`)
        }

        manageAJAXResponse(data) {
          console.log('Llegó la respuesta')
          console.log(data.detail.response)
            this.isLogged = true
            window.location = "user/" + data.detail.response.username
            //this.set('route.path', "user/" + data.detail.response.username);


        }
      }

      window.customElements.define(LoginUsuario.is, LoginUsuario);
    </script>
</dom-module>