<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="visor-cuentas">
  <template>
    <style>
      :host {
        display: block;
      }
	</style>
    <input type="text" value="{{holder_nif::input}}" />

    <iron-ajax auto id="getUserAccounts" url="http://localhost:5000/v1/account/{{holder_nif}}" handle-as="json" on-response="showData" />
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorCuentas extends Polymer.Element {
      static get is() {
        return 'visor-cuentas';
      }
      static get properties() {
        return {
          holder_nif: {
            type: String,
            value: '23232323Y'
          }
        }
      }

      showData(data) {
        console.log("showData")
        console.log(data.detail.response)
      }
    }

    window.customElements.define(VisorCuentas.is, VisorCuentas);
  </script>
</dom-module>