<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="visor-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
	</style>
	<input type="text" value="{{username::input}}" />      
    <h2>Hello [[name]] [[first_name]] [[last_name]]</h2>
	<h3>Email: [[email]]</h3>

	<input type="text" value="{{first_name::input}}" />      
	Age: <input type="range" value="{{age::input}}" min="0" max="100" />  years  

	<iron-ajax auto
		id="getUser"
		url="http://localhost:5000/v1/user/info/{{username}}"
		handle-as="json"
		on-response="showData" />
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorUsuario extends Polymer.Element {
      static get is() { return 'visor-usuario'; }
      static get properties() {
        return {
		  username: {
            type: String,
            value: 'visor-usuario'
          },			
          name: {
            type: String,
            value: 'visor-usuario'
          },
          first_name: {
            type: String,
            value: ''
          }, 
          last_name: {
            type: String,
            value: ''
          },
          age: {
            type: Number,
            value: 0
          },
          email: {
            type: String,
            value: ''
          },		  
        };
      }

	  showData(data) {
		  console.log("showData")
		  console.log(data.detail.response)

		  this.email = data.detail.__data.response.email
		  this.first_name = data.detail.__data.response.first_name
		  this.last_name = data.detail.__data.response.last_name
		  this.age = data.detail.__data.response.age
	  }
    }

    window.customElements.define(VisorUsuario.is, VisorUsuario);
  </script>
</dom-module>
